Repository elo7/tech-blog, pull requests merged in 2018-02, with the labels that each got.

#172 [POST] Controlando e melhorando a performance do build no Travis CI
  src/assets/images/travis-build-stages-1.png
  src/assets/images/travis-build-stages-2.png
  src/posts/travis-build-stages.html.md
Labels: # APPROVED ♥‿♥, - HackDay, Martell, Nymeros, POST (⌐■_■), Tully

#186 [fix-highlightjs] Remove highlightjs code que não é aceito
  src/posts/novidades-do-junit-5-parte-1.html.md
Labels: # APPROVED ♥‿♥, - HackDay, BUG FIX (ﾉ◕ヮ◕)ﾉ, ENHANCEMENT (•̀o•́)ง

#161 [POST] CSS Basics - Margin x Padding
  src/assets/_markdown.scss
  src/assets/images/css-basics-margin-padding-1.png
  src/assets/images/css-basics-margin-padding-2.png
  src/assets/post.css.scss
  src/posts/css-basics-margin-padding.html.md
Labels: # APPROVED ♥‿♥, - HackDay, POST (⌐■_■)

#184 [POST] Testes mais fluídos com AssertJ
  src/posts/testes-mais-fluidos-com-assertj.html.md
  src/publishers/fabioueno.html.md
Labels: # APPROVED PORTUGUÊS, # APPROVED TECH, # APPROVED ♥‿♥, - HackDay, POST (⌐■_■)

#187 Fix Typos
  src/posts/testes-mais-fluidos-com-assertj.html.md
Labels: # APPROVED PORTUGUÊS, # APPROVED ♥‿♥
