Repository elo7/tech-blog, pull requests merged in 2018-03, with the labels that each got.

#55 [POST] Otimizacao bd
  src/posts/otimizacao-bd.html.md
  src/publishers/victorkendy.html.md
Labels: # APPROVED ♥‿♥, - HackDay, Lannister, POST (⌐■_■), TheHandOfTheKing

#190 fix de acento em tag
  src/posts/otimizacao-bd.html.md
Labels: # APPROVED ♥‿♥

#178 [POST] Programação reativa - Parte 1
  src/posts/programacao-reativa.html.md
Labels: # APPROVED ♥‿♥, - HackDay, POST (⌐■_■)

#191 Pequenos fixes Programação Reativa
  src/posts/programacao-reativa.html.md
Labels: # APPROVED ♥‿♥

#170 [POST] Credential Management API
  src/assets/images/credential-management-api-1.png
  src/assets/images/credential-management-api-2.png
  src/posts/credential-management-api.html.md
  src/posts/web-share-api.html.md
Labels: # APPROVED ♥‿♥, - HackDay, Martell, Nymeros, POST (⌐■_■)

#111 [POST] Serverless e AWS Lambda. O que é? Onde vive? Do que se alimenta?
  src/assets/images/serverless-1.jpg
  src/assets/images/serverless-2.png
  src/posts/serverless.html.md
Labels: # APPROVED ♥‿♥, - HackDay, Lannister, POST (⌐■_■)
