Repository elo7/tech-blog, pull requests merged in 2018-08, with the labels that each got.

#202 [POST] Implementando um serviço Web RESTful em Kotlin com Spring Boot
  src/assets/images/web-restful-em-kotlin-com-springboot-1.png
  src/posts/web-restful-em-kotlin-com-springboot.html.md
Labels: # APPROVED PORTUGUÊS, # APPROVED TECH, - HackDay, POST (⌐■_■), TO REVIEW ◔ ⌣ ◔

#207 [vaga-mobile] Página com vaga no time de mobile
  src/posts/vagas-desenvolverdor-mobile.html.md
  src/publishers/tisvasconcelos.html.md
Labels: # APPROVED ♥‿♥, POST (⌐■_■)

#205 [POST] Good practices k8s
  src/posts/boas-praticas-na-utilizacao-k8s.html.md
  src/publishers/marcusrios.html.md
Labels: # APPROVED PORTUGUÊS, # APPROVED ♥‿♥, - HackDay, BeyondTheWall
