Repository elo7/tech-blog, pull requests merged in 2018-05, with the labels that each got.

#117 [email-subscription] Adiciona feed no blog e link para inscrição de email
  docpad.js
  src/assets/images/email_icon.png
  src/assets/images/ico/feed.svg
  src/assets/images/ico/ic-negative-twitter.svg
  src/assets/main.css.scss
  src/assets/post.css.scss
  src/documents/rss.xml.hb
  src/layouts/page-amp.html.hb
  src/layouts/page.html.hb
Labels: # APPROVED ♥‿♥, - HackDay, ENHANCEMENT (•̀o•́)ง, Martell, Nymeros

#197 [POST]- Rodando seus testes no Circle CI
  src/assets/images/rodando-seus-testes-no-circle-ci-1.png
  src/assets/images/rodando-seus-testes-no-circle-ci-2.png
  src/assets/images/rodando-seus-testes-no-circle-ci-3.png
  src/assets/images/rodando-seus-testes-no-circle-ci-4.png
  src/posts/rodando-seus-testes-no-circle-ci.html.md
  src/publishers/thiagoandrad.html.md
Labels: # APPROVED ♥‿♥, - HackDay, BeyondTheWall, POST (⌐■_■)

#199 [programacao-reativa-parte-2] Programação reativa - Parte 2
  src/assets/images/programacao-reativa-parte-2-1.png
  src/assets/images/programacao-reativa-parte-2-10.png
  src/assets/images/programacao-reativa-parte-2-11.png
  src/assets/images/programacao-reativa-parte-2-12.png
  src/assets/images/programacao-reativa-parte-2-13.png
  src/assets/images/programacao-reativa-parte-2-14.png
  src/assets/images/programacao-reativa-parte-2-15.png
  src/assets/images/programacao-reativa-parte-2-16.png
  src/assets/images/programacao-reativa-parte-2-17.png
  src/assets/images/programacao-reativa-parte-2-18.png
  src/assets/images/programacao-reativa-parte-2-19.png
  src/assets/images/programacao-reativa-parte-2-2.png
  src/assets/images/programacao-reativa-parte-2-20.png
  src/assets/images/programacao-reativa-parte-2-21.png
  src/assets/images/programacao-reativa-parte-2-22.png
  src/assets/images/programacao-reativa-parte-2-23.png
  src/assets/images/programacao-reativa-parte-2-24.png
  src/assets/images/programacao-reativa-parte-2-25.png
  src/assets/images/programacao-reativa-parte-2-26.png
  src/assets/images/programacao-reativa-parte-2-27.png
  src/assets/images/programacao-reativa-parte-2-28.png
  src/assets/images/programacao-reativa-parte-2-29.png
  src/assets/images/programacao-reativa-parte-2-3.png
  src/assets/images/programacao-reativa-parte-2-30.png
  src/assets/images/programacao-reativa-parte-2-31.png
  src/assets/images/programacao-reativa-parte-2-32.png
  src/assets/images/programacao-reativa-parte-2-33.png
  src/assets/images/programacao-reativa-parte-2-34.png
  src/assets/images/programacao-reativa-parte-2-35.png
  src/assets/images/programacao-reativa-parte-2-36.png
  src/assets/images/programacao-reativa-parte-2-37.png
  src/assets/images/programacao-reativa-parte-2-38.png
  src/assets/images/programacao-reativa-parte-2-39.png
  src/assets/images/programacao-reativa-parte-2-4.png
  src/assets/images/programacao-reativa-parte-2-40.png
  src/assets/images/programacao-reativa-parte-2-41.png
  src/assets/images/programacao-reativa-parte-2-42.png
  src/assets/images/programacao-reativa-parte-2-43.png
  src/assets/images/programacao-reativa-parte-2-44.png
  src/assets/images/programacao-reativa-parte-2-45.png
  src/assets/images/programacao-reativa-parte-2-46.png
  src/assets/images/programacao-reativa-parte-2-47.png
  src/assets/images/programacao-reativa-parte-2-5.png
  src/assets/images/programacao-reativa-parte-2-6.png
  src/assets/images/programacao-reativa-parte-2-7.png
  src/assets/images/programacao-reativa-parte-2-8.png
  src/assets/images/programacao-reativa-parte-2-9.png
  src/posts/programacao-reativa-parte-2.html.md
Labels: # APPROVED ♥‿♥, POST (⌐■_■)
