Repository elo7/tech-blog, pull requests merged in 2018-09, with the labels that each got.

#206 Correção texto
  src/posts/conheca-o-dustjs.html.md
Labels: # APPROVED ♥‿♥

#204 [POST] API Persistente com Kotlin Spring Boot, MySQL, JPA e Hibernate
  src/assets/images/api-persistente-com-kotlin-springboot-mysql-jpa-hibernate-1.png
  src/posts/api-persistente-com-kotlin-springboot-mysql-jpa-hibernate.html.md
Labels: # APPROVED PORTUGUÊS, # APPROVED TECH, # APPROVED ♥‿♥, - HackDay, POST (⌐■_■)

#193 [POST] Javascript e acessibilidade
  src/assets/_markdown.scss
  src/assets/audios/javascript-e-a11y-1.mp3
  src/assets/images/javascript-e-a11y-1.gif
  src/assets/images/javascript-e-a11y-2.png
  src/assets/images/javascript-e-a11y-3.png
  src/assets/images/javascript-e-a11y-capa.jpg
  src/posts/javascript-e-a11y.html.md
Labels: # APPROVED ♥‿♥, - HackDay, Martell, Nymeros, POST (⌐■_■)

#208 [programacao-reativa] Programacao reativa - Parte 3
  src/assets/images/programacao-reativa-parte-3-1.png
  src/assets/images/programacao-reativa-parte-3-10.png
  src/assets/images/programacao-reativa-parte-3-11.png
  src/assets/images/programacao-reativa-parte-3-12.png
  src/assets/images/programacao-reativa-parte-3-13.png
  src/assets/images/programacao-reativa-parte-3-14.png
  src/assets/images/programacao-reativa-parte-3-15.png
  src/assets/images/programacao-reativa-parte-3-16.png
  src/assets/images/programacao-reativa-parte-3-17.png
  src/assets/images/programacao-reativa-parte-3-18.png
  src/assets/images/programacao-reativa-parte-3-19.png
  src/assets/images/programacao-reativa-parte-3-2.png
  src/assets/images/programacao-reativa-parte-3-20.png
  src/assets/images/programacao-reativa-parte-3-3.png
  src/assets/images/programacao-reativa-parte-3-4.png
  src/assets/images/programacao-reativa-parte-3-5.png
  src/assets/images/programacao-reativa-parte-3-6.png
  src/assets/images/programacao-reativa-parte-3-7.png
  src/assets/images/programacao-reativa-parte-3-8.png
  src/assets/images/programacao-reativa-parte-3-9.png
  src/posts/programacao-reativa-parte-2.html.md
  src/posts/programacao-reativa-parte-3.html.md
  src/posts/programacao-reativa.html.md
Labels: # APPROVED PORTUGUÊS, # APPROVED TECH, # APPROVED ♥‿♥, POST (⌐■_■)
