Repository elo7/tech-blog, pull requests merged in 2019-02, with the labels that each got.

#216 [POST] Tirando projetos do papel
  src/assets/images/cover/tirando-projetos-do-papel.jpg
  src/assets/images/tirando-projetos-do-papel-1.jpg
  src/posts/tirando-projetos-do-papel.html.md
Labels: # APPROVED PORTUGUÊS, # APPROVED TECH, # APPROVED ♥‿♥, - HackDay, Martell, POST (⌐■_■)

#218 [POST] Programacao reativa - parte 4
  src/assets/images/cover/programacao-reativa-parte-4.png
  src/assets/images/programacao-reativa-parte-4-1.png
  src/posts/programacao-reativa-parte-4.html.md
Labels: # APPROVED PORTUGUÊS, # APPROVED TECH, # APPROVED ♥‿♥, - HackDay, POST (⌐■_■)

#221 [novas-palestras] Adiciona novas palestras
  src/documents/talks/criando-times-de-alto-desempenho.html.md
  src/documents/talks/experiencia-do-usuario-no-mundo-web.html.md
  src/documents/talks/incorporando-acessibilidade-no-seu-projeto.html.md
  src/documents/talks/introducao-ao-kotlin.html.md
  src/documents/talks/perceived-performance.html.md
Labels: # APPROVED ♥‿♥, - HackDay, ENHANCEMENT (•̀o•́)ง, Martell

#214 [cover-fernanda] Imagens de cover para posts da Fernanda
  src/assets/images/cover/display.jpg
  src/assets/images/cover/isomorfico-2.png
  src/assets/images/cover/isomorfico.jpg
  src/assets/images/cover/margin-padding.jpg
  src/assets/images/cover/pacman.jpg
  src/assets/images/cover/pareamento.jpeg
  src/posts/css-basics-display.html.md
  src/posts/css-basics-margin-padding.html.md
  src/posts/isomorfismo-parte-2.html.md
  src/posts/isomorfismo.html.md
  src/posts/pareamento.html.md
  src/posts/techtalk-jogos-indo-alem-do-simples-css.html.md
Labels: # APPROVED ♥‿♥, - HackDay, ENHANCEMENT (•̀o•́)ง, Martell
