Repository elo7/tech-blog, pull requests merged in 2019-07, with the labels that each got.

#262 [POST] Injeção de Dependência em Scala - Parte 1
  content/authors/rodrigovedovato.md
  content/images/cover/injecao-de-dependencia-em-scala-parte-1.png
  content/posts/injecao-de-dependencia-em-scala-parte-1.md
Labels: # APPROVED ♥‿♥, - HackDay, POST (⌐■_■)

#266 Fix no texto do post
  content/posts/injecao-de-dependencia-em-scala-parte-1.md
Labels: # APPROVED ♥‿♥

#267 Otimiza imagem de capa do post de injeção de dependência em Scala (parte 1)
  content/images/cover/injecao-de-dependencia-em-scala-parte-1.png
Labels: # APPROVED ♥‿♥, - HackDay

#252 [POST] Programação Reativa - Parte 5
  content/posts/programacao-reativa-parte-2.md
  content/posts/programacao-reativa-parte-3.md
  content/posts/programacao-reativa-parte-4.md
  content/posts/programacao-reativa-parte-5.md
  content/posts/programacao-reativa.md
Labels: # APPROVED ♥‿♥, - HackDay, POST (⌐■_■)

#270 Corrige descrição do author davidrobert
  content/authors/davidrobert.md
  static/css/publisher.scss
Labels: # APPROVED ♥‿♥, - HackDay, Martell

#263 [POST] Quebrando um monolito sem quebrar o que funciona
  content/authors/andreformento.md
  content/images/cover/airplane-horizon-plane.jpg
  content/images/quebrando-um-monolito-sem-quebrar-o-que-funciona-fluxo-de-cadastro-de-produto.png
  content/images/quebrando-um-monolito-sem-quebrar-o-que-funciona-monolito.gif
  content/images/quebrando-um-monolito-sem-quebrar-o-que-funciona-sistemas-reagem-a-mudanca-do-produto.png
  content/posts/quebrando-um-monolito-sem-quebrar-o-que-funciona.md
Labels: # APPROVED ♥‿♥, - HackDay, Hands, POST (⌐■_■)
